API_KEY=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
VITE_API_STREAMING=true

#For Azure (you can delete it if you don't use Azure)
OPENAI_API_BASE=
OPENAI_API_VERSION=
AZURE_DEPLOYMENT_NAME=
AZURE_EMBEDDINGS_DEPLOYMENT_NAME=